@{
    ViewData["Title"] = "Tareas";
    var tareasFinalizadas = ((List<Tarea>)ViewBag.tareasUsuario).Where(t => t.finalizada).ToList();
    var tareasNoFinalizadas = ((List<Tarea>)ViewBag.tareasUsuario).Where(t => !t.finalizada).ToList();
}

@if(tareasNoFinalizadas.Count > 0){
<h2>Tareas pendientes</h2>
}
<section class="tarea">
    @foreach (var tarea in tareasNoFinalizadas)
    {
        <div class="noFin">
            <h3>@tarea.titulo</h3>
            <p>@tarea.descripcion</p>
            <span>@tarea.fecha</span>
            <form class="newEstado" method="post" action='@Url.Action("CambiarEstado", "Home")'>
                <input type="hidden" name="id" value="@tarea.id" />
                <input type="checkbox" id="check-@tarea.id" name="finalizar" onchange="this.form.submit()" /> 
            </form>
            <a class="editarBtn" href='@Url.Action("EditTarea", "Home", new { id = @tarea.id })'>
                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M13 0L16 3L9 10H6V7L13 0Z" fill="#780000"></path>
                        <path d="M1 1V15H15V9H13V13H3V3H7V1H1Z" fill="#780000"></path>
                    </g>
                </svg>
            </a>
            <a class="editarBtn" href='@Url.Action("EliminarTarea", "Home", new { id = @tarea.id })'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 7l16 0"/>
                    <path d="M10 11l0 6"/>
                    <path d="M14 11l0 6"/>
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                </svg>
            </a>
        </div>
    }
</section>
@if(tareasFinalizadas.Count > 0){
<h2>Tareas completadas</h2>
}
<section class="tarea">
    @foreach (var tarea in tareasFinalizadas)
    {
        <div>
            <h3>@tarea.titulo</h3>
            <p>@tarea.descripcion</p>
            <span>@tarea.fecha</span>
            <form class="newEstado" method="post" action='@Url.Action("CambiarEstado", "Home")'>
                <input type="hidden" name="id" value="@tarea.id" />
                <input type="checkbox" id="check-@tarea.id" name="finalizar" checked onchange="this.form.submit()" />
            </form>
            <a class="editarBtn" href='@Url.Action("EliminarTarea", "Home", new { id = @tarea.id })'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 7l16 0"/>
                    <path d="M10 11l0 6"/>
                    <path d="M14 11l0 6"/>
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                </svg>
            </a>
        </div>
    }
</section>

<a class="crearBtn" href='@Url.Action("CrearTarea", "Home")'>Agrega una nueva tarea</a>
