@{
    ViewData["Title"] = "Tareas";
}

<section class="tarea">   
    @foreach(Tarea tarea in ViewBag.tareasUsuario){
        <div>
            <h1>@tarea.titulo</h1>
            <p>@tarea.descripcion</p>
            <span>@tarea.fecha</span>
            @if (tarea.finalizada)
            {
                <form class="newEstado" method="post" action='@Url.Action("CambiarEstado", "Home")'>
                    <input type="hidden" name="idTarea" value="@tarea.id" />
                    <input type="checkbox" name="finalizar" checked onchange="this.form.submit()" />
                </form>
            }
            else
            {
                <form class="newEstado" method="post" action='@Url.Action("CambiarEstado", "Home")'>
                    <input type="hidden" name="idTarea" value="@tarea.id" />
                    <input type="checkbox" name="finalizar" onchange="this.form.submit()" />
                </form>
            }
            <a class="editarBtn" href='@Url.Action("EditTarea", "Home", new { id = @tarea.id })'><svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13 0L16 3L9 10H6V7L13 0Z" fill="#780000"></path> <path d="M1 1V15H15V9H13V13H3V3H7V1H1Z" fill="#780000"></path> </g></svg></a>
        </div>
    }
<section>
<a class="crearBtn" href='@Url.Action("CrearTarea", "Home")'>Agrega una nueva tarea</a>
